<?xml version="1.0"?>
<configuration>


	<connectionStrings>
		<add name="connection" connectionString="Data Source=DESKTOP-MCN1KET; Initial Catalog=Production_DB; Integrated security=true;"/>
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>